---
title: Thomas Frezel
layout: layouts/home.njk
description: Hi, I'm a French Java developer based in Brussels. Father of 2. When I'm not coding I run, play tennis or listen to pop music.
image: /img/me.jpg
date: Last Modified
---

<div id="posts">
  {% set postslist = collections.posts %}
  {% include "postslist.njk" %}
</div>